.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  min-width: 0;
  min-height: 0;
}
.creditDebitCard {
  display: flex;
  position: relative;
  width: 1049px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  padding: 8px;
}
.creditDebitCard > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.creditDebitCard > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .creditDebitCard {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    left: auto;
    top: auto;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .creditDebitCard > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__n8Ff {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.button__mfrCl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 27px;
  width: 67px;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: flex-start;
  min-width: 67px;
}
.svg__mRzmo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ptQgd {
  font-size: 12px;
  line-height: 14.52px;
  color: #808080;
  font-weight: 500;
}
.svg__g4Q87 {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 1em;
}
.h1 {
  position: relative;
  height: auto;
  letter-spacing: -5%;
  width: 100%;
  margin-top: 4px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  min-width: 0;
}
.text__lgPWf {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #6b7280d9;
  text-align: left;
  text-transform: none;
  line-height: 20px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin-top: 5px;
}
.column__sJlkK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sJlkK {
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0px;
  }
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px 4px 8px 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 10 / 12);
  }
}
.column___8QzGs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  border-radius: 4px;
  padding: 8px 0px 8px 8px;
  border-style: solid;
  border-color: #dadbdc;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___8QzGs {
    padding-left: 0px;
  }
}
.antdButton__siDm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-size: 12px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 40px;
  width: 61px;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 12px 16px;
  border: 1px solid #dadbdc;
}
@media (min-width: 0px) and (max-width: 768px) {
  .antdButton__siDm:global(.__wab_instance) {
    align-self: flex-start;
    padding-left: 13px;
  }
}
.text__e20 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.column__cu1Ms {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.button___2N1QC:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 40px;
  width: 140px;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: center;
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___2N1QC:global(.__wab_instance) {
    align-self: flex-start;
  }
}
.svg___9Ek7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__uTL {
  font-size: 12px;
  line-height: 14.52px;
}
.svg__tSeOl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.information {
  display: flex;
  position: relative;
  width: 1049px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  padding: 8px 8px 0px;
  margin: 8px 0px 0px;
}
.information > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .information {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .information > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__oK5Yw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 29px 0px 8px;
}
.h2__wbP4U {
  color: #111827;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-W4LiE1-ZA);
  text-align: left;
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 4px;
  padding-top: 0px;
  margin-top: 0px;
  min-width: 0;
}
.h3___1N8Pf {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  letter-spacing: 0px;
  min-width: 0;
  margin: 0px;
}
.titleStatus {
  display: flex;
  position: relative;
  width: 1049px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  flex-grow: 0;
  padding: 0px 8px;
}
.titleStatus > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.titleStatus > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .titleStatus {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    left: auto;
    top: auto;
    margin-top: 9px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .titleStatus > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wJrC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 16px 10px 0px 8px;
}
.freeBox__fhSo2 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 2px;
}
.freeBox__fhSo2 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fhSo2 > :global(.__wab_flex-container) > *,
.freeBox__fhSo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fhSo2 > :global(.__wab_flex-container) > picture > img,
.freeBox__fhSo2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.h3___0XqtG {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: auto;
  height: auto;
  text-align: left;
  align-self: auto;
  margin-right: 0px;
  left: auto;
  top: auto;
  padding-top: 1px;
}
.img__it5B1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 12px;
  flex-shrink: 0;
}
.img__it5B1 > picture > img {
  object-fit: cover;
}
.img__it5B1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.antdInput5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-size: 14px;
  text-align: left;
  margin-bottom: 18px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 4px;
}
.column__igr3Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 8px 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__igr3Y {
    padding-top: 6px;
  }
}
.h2___2Nt5L {
  color: #111827;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-W4LiE1-ZA);
  text-align: left;
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 7px;
  min-width: 0;
}
.antdButton__rtkge:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 1px 4px #12b76a33;
  min-width: 0;
  border: 1px solid #12b76a;
}
.text___0Avr7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 600;
  color: #027a48;
  font-size: 12px;
  min-width: 0;
}
.description {
  display: flex;
  position: relative;
  width: 1049px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  padding: 0px 8px;
}
.description > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .description {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    left: auto;
    top: auto;
    margin-top: 24px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .description > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___7Vogx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 8px 8px;
}
.freeBox__eXf30 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__eXf30 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__eXf30 > :global(.__wab_flex-container) > *,
.freeBox__eXf30 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eXf30 > :global(.__wab_flex-container) > picture > img,
.freeBox__eXf30
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.h3__ls2F3 {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: auto;
  height: auto;
  text-align: left;
  align-self: auto;
  margin-right: 0px;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__ls2F3 {
    align-self: auto;
  }
}
.img__j7Evo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 12px;
  flex-shrink: 0;
}
.img__j7Evo > picture > img {
  object-fit: cover;
}
.img__j7Evo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.antdInputTextArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  height: 140px;
  color: #111827;
  font-size: 14px;
  flex-shrink: 0;
  border-radius: 4px;
  margin: 2px 0px 0px;
}
