.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.columns__rcR1T {
  display: flex;
  position: relative;
  width: 1049px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  padding: 8px;
}
.columns__rcR1T > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.columns__rcR1T > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rcR1T {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rcR1T > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jPsq7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h1 {
  color: #111827;
  font-family: var(--token-cFJFk8VmS);
  font-weight: 600;
  font-size: var(--token-ACcCzbVBE);
  text-align: left;
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__wLip {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wLip {
    justify-content: center;
    align-items: flex-start;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__x3C2X {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__dMkZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__vr4NF {
  display: flex;
  position: relative;
  width: 1049px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  padding: 8px;
}
.columns__vr4NF > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__vr4NF > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vr4NF {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vr4NF > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__omwL7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 29px 8px 8px;
}
.h2__erab {
  color: #111827;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-W4LiE1-ZA);
  text-align: left;
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 8px;
  padding-top: 0px;
  min-width: 0;
}
.h3__mgqAn {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  letter-spacing: 0px;
  min-width: 0;
  margin: 4px 0px 0px;
}
.column__ritU8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.columns___8Fqw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 15px 0px 0px;
}
.columns___8Fqw > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Fqw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Fqw > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__z5Qz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.h3__oFr7R {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  min-width: 0;
}
.antdInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-size: 14px;
  text-align: left;
  margin-bottom: 18px;
  border-radius: 4px;
}
.columns__cjTd7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 15px 0px 0px;
}
.columns__cjTd7 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cjTd7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cjTd7 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__n9Lba {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.h3__r2TAk {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  min-width: 0;
}
.antdInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-size: 14px;
  text-align: left;
  margin-bottom: 18px;
  border-radius: 4px;
}
.columns__zmgbZ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 15px 0px 0px;
}
.columns__zmgbZ > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zmgbZ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zmgbZ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pxTvy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.h3__gt6Gn {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  min-width: 0;
}
.antdInput3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-size: 14px;
  text-align: left;
  margin-bottom: 18px;
  border-radius: 4px;
}
.columns__rGrh5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 15px 0px 0px;
}
.columns__rGrh5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rGrh5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rGrh5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__cfy2M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.h3___46CcV {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  min-width: 0;
}
.select__yOxq8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
  width: 100%;
  min-width: 0;
}
.text__c1Aih {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
}
.option__fp5Jq:global(.__wab_instance) {
  position: relative;
}
.option__msSMj:global(.__wab_instance) {
  position: relative;
}
.columns__gkA7U {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 15px 0px 0px;
}
.columns__gkA7U > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gkA7U {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gkA7U > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__kwa2L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.h3__nodf {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  min-width: 0;
}
.antdInput5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  font-size: 14px;
  text-align: left;
  margin-bottom: 18px;
  border-radius: 4px;
}
.text__poRsx {
  color: #111827;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-W4LiE1-ZA);
  text-align: left;
  letter-spacing: -1px;
  display: block;
  line-height: 100%;
  position: relative;
  margin-bottom: 4px;
}
.h3__vYC {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  letter-spacing: 0px;
  min-width: 0;
  margin: 0px;
}
.freeBox__fsCuW {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__fsCuW > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__fsCuW > :global(.__wab_flex-container) > *,
.freeBox__fsCuW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fsCuW > :global(.__wab_flex-container) > picture > img,
.freeBox__fsCuW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.antdSwitch__bQcEj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h3___8O9V {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.columns__n5RxV {
  display: flex;
  position: relative;
  width: 1049px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  padding: 8px;
}
.columns__n5RxV > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__n5RxV > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n5RxV {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n5RxV > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___5VBfb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 29px 8px 8px;
}
.h2__tzM0 {
  color: #111827;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-W4LiE1-ZA);
  text-align: left;
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 8px;
  padding-top: 0px;
  min-width: 0;
}
.h3__l6Xv {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  letter-spacing: 0px;
  min-width: 0;
  margin: 4px 0px 0px;
}
.column__ulCRo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.columns___7Ceh4 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 15px 0px 0px;
}
.columns___7Ceh4 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7Ceh4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7Ceh4 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fcKVk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.h3__oWNvQ {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  min-width: 0;
}
.select__u2OoR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
  width: 100%;
  min-width: 0;
}
.text__olayU {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
}
.option__lcP01:global(.__wab_instance) {
  position: relative;
}
.option__fZsWl:global(.__wab_instance) {
  position: relative;
}
.columns___9Eusz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 15px 0px 0px;
}
.columns___9Eusz > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Eusz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9Eusz > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wQsz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.h3___12JdW {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  min-width: 0;
}
.select__rpBy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
  width: 100%;
  min-width: 0;
}
.text__hRwnp {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
}
.option__qIjsh:global(.__wab_instance) {
  position: relative;
}
.option__m5S7H:global(.__wab_instance) {
  position: relative;
}
.columns__lWGc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 14px;
  min-width: 0;
  padding: 15px 0px 0px;
}
.columns__lWGc > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lWGc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lWGc > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__kasmx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.h3___8O1Go {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  min-width: 0;
}
.select__nCw9N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
  width: 100%;
  min-width: 0;
}
.text___5XFf8 {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
}
.option__kqFx0:global(.__wab_instance) {
  position: relative;
}
.option__u2ZZo:global(.__wab_instance) {
  position: relative;
}
.text__xrdBl {
  color: #111827;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-W4LiE1-ZA);
  text-align: left;
  letter-spacing: -1px;
  display: block;
  line-height: 100%;
  position: relative;
  margin-bottom: 4px;
}
.h3__gdYRd {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  letter-spacing: 0px;
  min-width: 0;
  margin: 0px;
}
.freeBox___4JmUj {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 37px;
}
.freeBox___4JmUj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___4JmUj > :global(.__wab_flex-container) > *,
.freeBox___4JmUj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4JmUj > :global(.__wab_flex-container) > picture > img,
.freeBox___4JmUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.antdSwitch__s6C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.h3__pvOlg {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.text__eniH {
  color: #111827;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-W4LiE1-ZA);
  text-align: left;
  letter-spacing: -1px;
  display: block;
  line-height: 100%;
  position: relative;
  margin-bottom: 4px;
}
.freeBox___96BF1 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 15px;
}
.freeBox___96BF1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___96BF1 > :global(.__wab_flex-container) > *,
.freeBox___96BF1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___96BF1 > :global(.__wab_flex-container) > picture > img,
.freeBox___96BF1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.antdSwitch___8DeIe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h3__awy4J {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.freeBox__vCmAy {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 15px;
}
.freeBox__vCmAy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__vCmAy > :global(.__wab_flex-container) > *,
.freeBox__vCmAy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vCmAy > :global(.__wab_flex-container) > picture > img,
.freeBox__vCmAy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.antdSwitch___8Tpe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h3__pDbkA {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.columns__ipPmV {
  display: flex;
  position: relative;
  width: 1049px;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  padding: 8px;
}
.columns__ipPmV > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ipPmV > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ipPmV {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ipPmV > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nt5Zb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 29px 8px 8px;
}
.h2__b0OmS {
  color: #111827;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-W4LiE1-ZA);
  text-align: left;
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 8px;
  padding-top: 0px;
  min-width: 0;
}
.h3__oIlDm {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  letter-spacing: 0px;
  min-width: 0;
  margin: 4px 0px 0px;
}
.column__rpJg5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.columns__xdXBl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 15px 0px 0px;
}
.columns__xdXBl > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xdXBl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xdXBl > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pWlwB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.h3__vY3Qm {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  min-width: 0;
}
.select__lB190:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
  width: 100%;
  min-width: 0;
}
.text__iFslZ {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
}
.option__zbDy:global(.__wab_instance) {
  position: relative;
}
.option__gAoRz:global(.__wab_instance) {
  position: relative;
}
.columns__oYoM8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 15px 0px 0px;
}
.columns__oYoM8 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oYoM8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oYoM8 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___6Unq0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.h3__bwUz4 {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  min-width: 0;
}
.select__kugi1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
  width: 100%;
  min-width: 0;
}
.text__moHkT {
  color: #6b7280;
  font-family: var(--token-M00QQJ94J);
  font-weight: 400;
  font-size: var(--token-PEnMn1KOT);
}
.option__dQixj:global(.__wab_instance) {
  position: relative;
}
.option__hpvSm:global(.__wab_instance) {
  position: relative;
}
.columns__v31V3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 15px 0px 0px;
}
.columns__v31V3 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__v31V3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__v31V3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__bsPyZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px 0px 0px 6px;
}
.h3___2AibN {
  color: #344054;
  font-family: var(--token-M00QQJ94J);
  font-weight: 600;
  font-size: var(--token-JuTZk8G3F);
  letter-spacing: -1px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 5px;
  min-width: 0;
}
.antdInput6:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  font-size: 14px;
  text-align: left;
  margin-bottom: 18px;
  width: auto;
  margin-right: 0px;
  border-radius: 4px;
}
